* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: sans-serif;

    scrollbar-width: thin;
}

.background-main {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(29, 28, 28);
}

.background-header {
    height: 10%;
    width: 100%;    
}

main {
    width: 90%;
    height: 98%;

    display: flex;
    overflow-y: hidden;
}
/* Scrollbar*/
main::-webkit-scrollbar {
    height: 6.1px;
    
}
main::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
}

svg {
    color: rgba(255, 255, 255, .6);
}

.contacts-and-messages {
    width: 33.194%;
    max-width: 415px;
    height: 100%;
    border-right: solid .2px #334047;
}

.conversations {
    background-color: #111b21;

    height: calc(100% - 59px);
    width: 100%;

    overflow: hidden;
}

.contacts {
    overflow-y: auto;

    height: calc(100% - 49px);
    width: 100%;
}
.contacts::-webkit-scrollbar {
    width: 6.1px;
    
}
.contacts::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #2f4653;
}

footer  {
    height: 57.6px;
    
    border-top: solid 1px #202c33;

    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;

    display: flex;
    justify-content: center;
    align-items: center;    
}
footer p {
    font-size: 12px;
    text-align: center;
    color: rgb(235, 231, 231);
    line-height: 1.3333;

    width: 100%;

    margin-bottom: .2rem;
    margin-left: .4rem;

}
footer p a {
    color: rgb(25, 177, 182);    
}

.messages {
    width: 70%;
    height: 100%;
    color: #fff;
}

